.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control {
    margin: 1rem 0;
}
.form-control input,
.form-control label {
    display: block;
    width: 100% ;
}
.form-control label{
    color: Green;
    font-family: sans-serif;
    font-weight: bold;
}

.form-control input{
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
    height: 24px;
}
button{
    font: inherit;
    height: 35px;
    border: 1px solid rgb(15, 97, 15);
    color: rgb(15, 97, 15);    
    background: white;
    border-radius: 3px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(15, 97, 15);
    color: white;
}